@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Personel Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Açıklaması</th>
        <th>Personel Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.EmployeeName</td>
                <td>@item.EmployeeSurname</td>
                <td>@item.EmployeeDescription</td>
                <td>@item.EmployeeImage</td>
            <td><a href="/Employee/DeleteEmployee/@item.EmployeeID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Employee/UpdateEmployee/@item.EmployeeID" class="btn btn-outline-success">Güncelle</a></td>
            </tr>

    }

</table>
<a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Ekle</a>

