@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Müşteri Mail</th>
        <th>Müşteri Şehir</th>
        <th>Müşteri Bonus</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerSurname</td>
            <td>@item.CustomerMail</td>
            <td>@item.CustomerCity</td>
            <td>@item.CustomerBonus</td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>

    }

</table>
<a href="/Customer/AddCustomer/" class="btn btn-primary">Yeni Müşteri Ekle</a>

